* {
    margin: 0;
    padding: 0;
}

header, nav, main, footer, article, section, aside {
    display: block;
}


#logo {
    background: url(../images/logo_smaller.png) no-repeat center;
    display: block;
    width: 227px;
    height: 123px;
    position: relative;
    top: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}


.clear {
    clear: both;
}

body {
    font-family: 'Varela Round', sans-serif;
    /*font-family: Arial, monospace;*/
    background-color: white;
}

#wrapper {
    margin: 0 auto;
}

.orangeText {
    color: #c7641f !important;
}

.blueText {
    color: #0071bc;
}

.mainSelected {
    background: #262626 !important;
}

.redText {
    color: #bd362f;
    margin-left: 3px;
}

@media(min-width: 740px) {

    body {
        position: relative;
        padding-bottom: 6rem;
        min-height: 100%;
    }

    header {
        height: 164px;
        direction: rtl;
        background: #eeeeee;
    }


    header > section:nth-child(2) {

        width: 495px;
        height: 38px;
        background: #e6e6e6;
        position: relative;
        border-radius: 5px;
        bottom: 77px;
        margin-right: 345px;
    }

    header > section+section {
        width: 856px;
        height: 44px;
        position: relative;
        border-radius: 5px;
        margin-right: 345px;
        top: -59px;
    }


    #userPanel {
        list-style: none;
        font-size: 13px;
        direction: rtl;
        margin-right: 14px;
    }

    #userPanel > li {
        display: inline-flex;
        margin-right: 26px;
        margin-top: 5px;
    }

    #userPanel > li:first-child {
        position: relative;
        top: -25px;
    }

    #userPanel > li > a:hover {
        text-decoration: underline;
    }

    #userPanel > li > a {
        color: black;
        display: inline-flex;
    }

    #userPanel > li:last-child > a {        /*Settings Icon*/
        background: url(../images/icons/settings_icon.png) no-repeat left;
        width: 28px;
        height: 7px;
        padding: 8px 0 18px 47px;

    }

    #userPanel > li:nth-child(4) > a {      /*Messages Icon*/
        background: url(../images/icons/letter_icon.png) no-repeat left;
        width: 17px;
        height: 14px;
        padding: 0 0 4px 47px;
    }

    #userPanel > li:nth-child(3) > a {      /*Tickets Icon*/
        background: url(../images/icons/ticket_icon.png) no-repeat left;
        width: 81px;
        height: 18px;
        padding: 2px 0 0 23px;
    }

    #userPanel > li:nth-child(2) > a {      /*Cart Icon*/
        background: url(../images/icons/shopping_cart_icon.png) no-repeat left;
        width: 50px;
        height: 12px;
        padding: 1px 0 4px 20px;
    }

    #userPanel > li:first-child > a{        /*User Icon*/
        background: url(../images/rami_small.png) no-repeat bottom;
        width: 36px;
        height: 35px;
        padding: 0 0 2px 0;
        margin: -60px -24px 0 0;
        transition: filter linear 0.2s;
        font-size: 0;
    }

    #userPanel > li:first-child > a:hover {
        transition: filter linear 0.2s;
        filter: opacity(.4);
    }

    #userPanelSettings {
        display: none;
        list-style-type: none;
        background-color: #e6e6e6;
        width: 120px;
        left: 0;
        position: absolute;
        z-index: 2;
        top: 38px;
        border-radius: 0 0 5px 5px;
    }

    #userPanelSettings > li {
        padding-right: 10px;
        background: #e6e6e6;
    }

    #userPanelSettings > li:last-child {
        border-radius: 0 0 5px 5px;
    }

    #userPanelSettings > li > a {
        color: white;
        font-size: 11px;

        filter: invert(60%); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: invert(60%); /* Google Chrome, Safari 6+ and Opera 15+ */

        height: 20px;
        width: 70px;
        display: block;
        padding: 5px 0 0 35px;
    }

    #userPanelSettings > li:hover {
        transition: background 0.4s linear;
        filter: invert(0%);
        background: black;
    }


    #userPanelSettings > li > a:hover {
        transition: filter 0.4s linear;
        filter: invert(0%);
    }

    #userPanel > li > a.selected {
        /*font-weight: bolder;*/
        text-decoration: underline;
        /*color: white;*/
    }

    #userPanelSettings > li:nth-child(1) > a {
        background: url(../images/icons/profile_icon.png) no-repeat left;
    }

    #userPanelSettings > li:nth-child(2) > a {
        background: url(../images/icons/payment_icon.png) no-repeat left;
    }

    #userPanelSettings > li:nth-child(3) > a {
        background: url(../images/icons/reviews_icon.png) no-repeat left;
    }

    #userPanelSettings > li:nth-child(4) > a {
        background: url(../images/icons/logut_icon.png) no-repeat left;
    }

    #userPanelSettings > li:nth-child(5) > a {
        background: url(../images/icons/help_icon.png) no-repeat left;
    }

    #settingsOption:hover > a {
        text-decoration: underline;
    }

    #searchForm {
        direction: rtl;
    }

    #searchForm label[for=category], #searchForm label[for=searchText] {
        display: none;
    }

    #searchForm input, #searchForm select {
        border: 1px solid #7a7a7a;
        font-size: 16px;
    }

    #searchForm select {
        width: 174px;
        height: 43px;
        margin-left: 5px;
        padding-right: 6px;
        border-radius: 5px;
        background: url(../images/icons/black_down_arrow.png) white no-repeat 3px;
    }

    #searchForm select:focus, #searchForm input:focus {
        outline: none;
        border: 1px solid #418acf;
    }

    #searchForm input[type=search] {
        width: 579px;
        height: 41px;
        padding-right: 12px;
        border-radius: 0 5px 5px 0;
        border-left: 1px solid #a6c0e8;
    }

    #searchForm input[type=submit] {
        width: 46px;
        height: 41px;
        font-size: 0;
        background: url(../images/magnifyin_glass.png) no-repeat center #d6d6d6;
        position: relative;
        top: -5px;
        left: 5px;
        border-radius: 5px 0 0 5px;
        border-right: 2px solid #a6c0e8;
    }

    #searchForm input[type=submit]:hover {
        background-color: #cccccc;
    }


    nav {
        height: 58px;
        width: 100%;
        background-color: #444444;
        direction: rtl;
    }

    #mainMenu {
        list-style-type: none;
        display: inline-flex;
    }


    #mainMenu > li {
        height: 58px;
        width: 150px;
        padding-left: 50px;
    }

    #mainMenu > li > a {
        line-height: 55px;
        display: block;
        width: 190px;
        height: 56px;
        padding-top: 2px;
        padding-right: 20px;
        color: #a2a2a2;
        font-size: 14px;
        transition: color 0.3s linear;
    }

    #mainMenu > li:hover > a {
        transition: filter,color 0.3s linear;
        filter: invert(0%);
        color: white;
    }

    #allTicketsList {
        width: 200px;
        font-size: 14px;
        display: none;
        position: absolute;
        list-style-type: none;
        background-color: #444444;
        border-radius: 0 0 5px 5px;
        z-index: 2;
    }

    #allTicketsList > li {
        height: 30px;
        padding-top: 10px;
        padding-right: 5px;
    }

    #allTicketsList > li:last-child {
        border-radius: 0 0 5px 5px;
    }

    #allTicketsList > li > a {
        color: #a2a2a2;
        display: block;
        padding-right: 15px;
        height: inherit;
        width: inherit;
    }


    #allTicketsList > li:hover {
        transition: background 0.4s linear;
        background: #e6e6e6;
    }

    #allTicketsList > li:hover > a {
        transition: color 0.4s linear;
        color: black;
    }


    /*###################################### Main Content Area ###############################################*/
    html {height: 100%;}

    #index {
        background: url(../images/orange_background.png) repeat-y,
        url(../images/blue_background.png) repeat-y right;
        background-size: 50%, 51%;
    }

    main {
        font-size: 14px;
    }

    #homePage {
        height: 528px;
        width: 100%;
        color: white;
        background-size: cover;
    }

    #homePage > section:first-child {
        z-index: -1;
        background: url(../images/orange_triangle.png) no-repeat center;
        width: 128px;
        height: 232px;
        position: absolute;
        /*top: 250px;*/
        bottom: 135px;
        left: 49.9%;
    }

    #homePage > section:nth-child(2) {
        z-index: -1;
        background: url(../images/blue_triangle.png) no-repeat center;
        width: 128px;
        height: 232px;
        position: absolute;
        /*bottom: 135px;*/
        top: 250px;
        right: 50.0%;
    }

    article {
        direction: rtl;
        /*background: transparent;*/
        height: 100%;
        margin-right: 20px;
    }

    main h1 {
        font-size: 2em;
        font-weight: normal;
        margin-top: 20px;
    }

    main h3 {
        font-size: 1.5em;
        font-weight: normal;
    }

    .orangeHalfPage {
        float: left;
        width: 45%;
        height: 100%;

    }

    .blueHalfPage {
        float: right;
        width: 35%;
        height: 100%;
    }

    .orangeHalfPage > a     /*Blue Button */{
        display: inline-block;
        text-align: center;
        line-height: 79px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #0071bc;
        width: 216px;
        height: 79px;
        transition: background linear 0.4s;
        position: relative;
        top: 40px;
        right: 90px;
    }

    .orangeHalfPage > a:hover {
        transition: background linear 0.4s;
        background: #005fa4;
    }

    .blueHalfPage > p, #orangeTextContainer > p {
        margin-top: 10px;
    }

    .blueHalfPage > h3 {
        margin-top: 25px;
    }

    #orangeTextContainer {
        position: absolute;
        bottom: 5%;
        width: 450px;
        height: 305px;
        right: 61%;
        padding-left: 20px;
    }

    #orangeButtonContainer > a /*Orange Button*/ {
        display: block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 79px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #f18021;
        width: 216px;
        height: 79px;
        transition: background linear 0.4s;
    }

    #orangeButtonContainer > a:hover {
        transition: background linear 0.4s;
        background: #c7641f;
    }

    #orangeButtonContainer {
        width: 300px;
        height: 292px;
        position: absolute;
        left: 55.5%;
        bottom: 0;
    }


    #ticketNumberSection {
        width: 192px;
        height: 140px;
        background: #c0c0c0;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        text-align: center;
        color: #3b5998;
        display: inline-block;
        margin-right: 110px;
        vertical-align: bottom;
        position: relative;
        top: 100px;

    }

    #ticketNumberSection > section {
        width: 161px;
        height: 69px;
        background: #eeeeee;
        border: 1px solid #606060;
        border-radius: 5px;
        margin: 7px auto;
    }

    #ticketNumberSection > h3 {
        font-weight: bold;
    }

    #ticketNumberSection p {
        margin-top: 15px;
        font-size: 30px;
    }

    /*###################################### Footer Area ###############################################*/
    footer {
        height: 110px;
        /*height: 101px;*/
        background-color: #444444;
        padding-left: 20px;
        font-size: 14px;
        color: #cccccc;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    footer > ul {
        list-style-type: none;
    }

    footer > ul > li {
        display: inline;
        position: relative;
        top: 75px;
        color: #cccccc;
        margin-right: 30px;
    }


    footer > ul > li > a {
        color: #cccccc;
        transition: color 0.4s linear;
    }

    footer > ul > li> a:hover {
        color: #808080;
        text-decoration: none !important;
    }

    footer > p {
        margin-top: 55px;
        margin-right: 24px;
        direction: rtl;
    }


    /*###################################### Breadcrumbs Area ###############################################*/
    #breadCrumbs {
        list-style-type: none;
        display: inline-flex;
        font-size: 14px;
        font-weight: bold;
        margin-top: 7px;
    }

    #breadCrumbs > li:last-child {
        margin-top: 2px;
        text-decoration: underline;
    }

    #breadCrumbs > li > a {
        color: black;
    }

    .LeftArrowBreadCrumbs {
        margin: 0 7px 0 7px;
    }




    /*###################################### UploadTicketForm Area ###############################################*/

    #uploadTicketForm label {
        font-size: 16px;
        width: 130px;
        display: inline-block;
    }

    #uploadTicketForm p input, #uploadTicketForm p select {
        margin-top: 15px !important;
        border: 1px solid #7a7a7a !important;
        border-radius: 5px;
        width: 450px;
        height: 36px;
        padding: 0 10px 0 0;
    }

    input[list="ticketCities"] {
        margin-left: 50px;
        position: static;
        display: inline;
    }

    #uploadTicketForm p select {
        width: 462px;
    }

    label[for="ticketNotes"] {
        vertical-align: top;
    }

    #uploadTicketForm > p:nth-child(2) > div {
        display: inline-block;
    }

    #ticketNotes /*Textarea*/ {
        padding-right: 5px;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        width: 455px;
        height: 112px;
        font-family:"Arial", monospace;
        font-size: 12px;
    }

    #ticketBarcodeWrapper {
        position: relative;
        margin-top: 15px;
        margin-bottom: 13px;
    }

    #ticketBarcodeWrapper label {
        position: relative;
        top: 5px;
    }

    #fileDiv {
        width: 460px;
        height: 36px;
        display: inline-block;
        position: relative;
        border-radius: 5px;
        border: 1px solid #7a7a7a;
        direction: ltr;
        cursor: pointer;
    }
    input[type=file] {
        width: 458px;
        height: 36px;
        opacity:0;
        cursor: pointer;
    }
    #val {
        width: 458px;
        height: 36px;
        position: absolute;
        top: 10px;
        right: -30px;
        pointer-events: none;
    }
    #button {
        cursor: pointer;
        display: block;
        width: 25px;
        height:36px;
        background: url(../images/icons/upload_icon.png) no-repeat 5px center;
        position: absolute;
        top: 0;
    }

    #uploadTicketForm > label {
        width: 343px;
        margin-top: 30px;
    }

    #uploadTicketForm select:focus, #uploadTicketForm input:focus, #ticketNotes:focus {
        outline: none;
        border: 1px solid #418acf !important;
    }

    fieldset {
        border-radius: 5px;
        border: 1px solid #7a7a7a;
        width: 460px;
        height: 220px;
        margin-top: 15px;
        margin-right: 134px;
    }

    fieldset > span {
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    legend {
        margin-right: 15px;
        padding-right: 7px;
        padding-left: 7px;
        font-weight: bold;
    }

    fieldset > section {
        margin-right: 10px;
    }

    /*FieldSet - parks_workshops - START */
    #parks, #oneTime {display:none;}


    #parks label{
        font-size: 12px;
        display: block;
        height: 40px;
    }

    #parks label span {
        display: inline-block;
        width: 200px;
        position: relative;
        top: -25px;
        right: 25px;
        cursor: pointer;

    }

    #parks input[type=radio] {
        height: 30px;
        width: 15px;
        cursor: pointer;
    }


    #parks input[type=number], #parks input[type=text] {
        direction: rtl;
        border-radius: 5px;
        padding-right: 10px;
        border: 1px solid #7a7a7a;
        position: relative;
        top: -45px;
        right: 200px;
        height: 23px;
    }

    #parks input[type=number] {
        width: 35%;
    }

    #parks input[type=text], #hotels input[type=text], #shows input[type=text] {
        background: url(../images/icons/datepicker_icon.png) no-repeat 5px center white;
    }

    #parks input[type=text]:disabled {
        background-color: #ebebe4;
    }

    #parks input[type=number]:focus, #parks input[type=text]:focus {
        outline: none;
        border: 1px solid #418acf;
    }

    /*FieldSet - Parks - END*/

    /*FieldSet - Hotels - START*/
    #hotels {
        height: 130px !important;
    }


    #hotels label, #shows label {
        font-size: 14px;
        margin-right: 5px;
        margin-top: 10px;
        padding-bottom: 10px;
        width: 90px;
    }

    #hotels input, #shows input {
        width: 150px !important;
        height: 23px !important;
    }

    #hotels input[type=number] {
        width: 10% !important;
    }

    #shows {
        display: none;
        height: 80px;
    }

    .none {
        display: none;
    }

    #submitPart {
        margin-right: 135px;
        width: 461px;
    }

    #submitPart input[type=submit] {
        display: block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #f18021;
        width: 461px;
        height: 67px;
        margin-top: 20px;
        transition: background linear 0.4s;
        cursor: pointer;
    }


    #submitPart input[type=submit]:hover {
        transition: background linear 0.4s;
        background: #c7641f;
    }

    #submitPart p {
        font-size: 12px;
        margin-top: 10px;
    }

    #submitPart > p span {
        margin-right: 3px;
        color: #bd362f;
    }

    #submitPart p:last-child {
        font-size: 11px;
        margin-bottom: 40px;
    }

    /*######################################################################*/
    /*LightBox of the UploadTicketForm - START*/
    /*######################################################################*/


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 564px;
        height: 400px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #sellTickets .modal-header {
        padding: 2px 16px;
        background-color: white;
    }

    #sellTickets .modal-body {padding: 2px 16px;}

    #sellTickets .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    #sellTickets #logo_lightbox {
        display: block;
        background: url(../images/logo_lightbox.png) no-repeat center;
        width: 153px;
        height: 80px;
        margin-top: 15px;
        margin-right: 180px;
    }

    #sellTickets .modal-body h1 {
        background: url(../images/icons/confirm.png) no-repeat 170px;
    }

    #sellTickets .modal-body p {
        margin-top: 20px;
    }

    #sellTickets .modal-body p:last-child {
        font-size: 10px;
    }

    #sellTickets .modal-body a {
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #f18021;
        width: 180px;
        height: 70px;
        margin-top: 30px;
        margin-left: 60px;
        transition: background linear 0.4s;
    }

    #sellTickets .modal-body a:hover {
        transition: background linear 0.4s;
        background: #c7641f;
    }

    /*######################################################################*/
    /*LightBox of the UploadTicketForm - END*/
    /*######################################################################*/


    /*My_tickets.html*/

    #rightTableSection {
        position: relative;
        float: right;
        width: 50%;
    }

    #leftTableSection {
        position: relative;
        float: left;
        width: 50%;
    }

    #myTickets h3 {
        margin-top: 20px;

    }

    #myTickets #postedTickets, #myTickets #boughtTickets{
        margin-top: 20px;
        border: 2px solid #d6d6d6 !important;
        border-collapse: collapse;
        margin-bottom: 30px;
        background: #d4e3fc;
        color: #444444;
        text-align: center;
        font-size: 13px;
    }

    #myTickets #postedTickets tbody tr:hover, #myTickets #boughtTickets tbody tr:hover {
        cursor: pointer;
        color: white;
        background: #f18021;
    }

    #myTickets #boughtTickets tbody tr:hover {
        background: #418acf;
    }

    #myTickets #postedTickets {
        background: #ffecd7;
    }

    #myTickets tr {
        height: 50px;
        border-bottom: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;
        transition: background linear 0.2s;
    }

    #myTickets tr:nth-child(even) {
        background-color: white;
    }

    #myTickets td {
        width: 120px;
    }
    #myTickets th {
        background-color: white;
        cursor: pointer;
        border-bottom: 3px solid #d6d6d6;
    }

    #myTickets a {
        color: #444444;
    }

    #myTickets #boughtTickets tbody tr:hover a {color: white;}

    #myTickets a:hover {
        text-decoration: underline;
    }


    /*select_category.php*/

    #buyTickets {
        /*padding-top: 20px;*/
    }

    #buyTickets > section {
        /*padding-bottom: 50px;*/
        padding-top: 20px;
    }

    #buyTickets > section > section {
        display: inline-block;
        border: 1px solid #d6d6d6;
        width: 369px;
        height: 225px;
        margin-left: 50px;
        margin-bottom: 50px;
        float: right;
    }

    #categories a {
        display: block;
        width: 369px;
        height: 225px;
        text-align: center;
        color: #444444;
        font-size: 16px;
        line-height: 420px;
        transition: opacity linear 0.4s;
    }

    #categories a:hover {
        opacity: 0.4;
    }


    #categories > section:first-child a {
        background: url(../images/water_parks_desktop.jpg) no-repeat #f6f6f6;
    }

    #categories > section:nth-child(2) a {
        background: url(../images/shows_desktop.jpg) no-repeat #f6f6f6;
    }

    #categories > section:nth-child(3) a {
        background: url(../images/cinema_desktop.jpg) no-repeat #f6f6f6;
    }

    #categories > section:nth-child(4) a {
        background: url(../images/workshops_desktop.jpg) no-repeat #f6f6f6;
    }

    #categories > section:nth-child(5) a {
        background: url(../images/hotels_desktop.jpg) no-repeat #f6f6f6;
    }


    /*select_ticket.php*/
    #tableCategories {
        margin-top: 20px;
        border: 2px solid #d6d6d6 !important;
        border-collapse: collapse;
        margin-bottom: 30px;
        background: #eeeeee;
        color: #444444;
        text-align: center;
        font-size: 13px;
        width: 99%;
    }

    #selectTicket h4 {
        margin-top: 10px;
    }

    #tableCategories tr {
        height: 40px;
        border-bottom: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;
        transition: background linear 0.2s;
    }

    #tableCategories tr:nth-child(even) {
        background-color: white;
    }

    #tableCategories tbody tr:hover {
        cursor: pointer;
        color: white;
        background: #418acf;
    }

    #tableCategories td {
        width: 120px;
    }

    #tableCategories th {
        background-color: white;
        cursor: pointer;
        border-bottom: 3px solid #d6d6d6;
    }

    #tableCategories > thead > tr > th:last-child {
        width: 40%;
    }

    #tableCategories a {
        color: #444444;
    }


    /*ticket.php*/
    #ticketPage {
        color: #444444;
    }

    #ticketPage > section {
        margin-top: 20px;
    }

    #ticketPage > section > p {
        font-weight: bold;
        width: 7%;
        display: inline-block;
    }


    #ticketPage > section > span {
        display: inline-block;
    }

    #singleTicketCategory {
        color: #444444;
        text-decoration: underline;
    }

    #ticketSimilar > p {
        width: 100% !important;
        position: relative;
        top: 10px;
    }

    #contactSaler {
        color: #bd362f !important;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    #ticketPage #lastItemBreadCrumbs {
        color: #0071bc;
    }

    #ticketPage > .ticketPageParagraph {
        width: 40% !important;
        font-size: 12px;
        padding-bottom: 30px;
    }

    #ticketPage #addToCart, #ticketPage #payNow {
        cursor: pointer;
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background: url(../images/icons/down_arrow.png) no-repeat 30px #0071bc;
        width: 240px;
        height: 65px;
        margin: 20px 0 0 60px;
        transition: background linear 0.4s;
    }

    #ticketPage table {
        width: 38% !important;
    }

    #ticketPage #addToCart {
        background: url(../images/icons/add_cart.png) no-repeat 20px #75a9f9;
    }

    #ticketPage #payNow:hover {background-color: #005693;}

    #ticketPage #addToCart:hover {background-color: #418acf;}

    /* Modal Content */
    #ticketPage .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 564px;
        height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    #ticketPage .modal-header {
        padding: 2px 16px;
        background-color: white;
    }

    #ticketPage .modal-body {padding: 2px 16px;}

    #ticketPage .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    #ticketPage .modal-header h1 {
        padding-top: 70px;
        text-align: center;
        height: 50px;
        background: url(../images/icons/check-box.png) no-repeat 230px 0;
    }


    #ticketPage .modal-body p {
        font-size: 10px;
        margin-top: 20px;
    }

    #ticketPage .modal-body a {
        vertical-align: top;
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #75a9f9;
        width: 160px;
        height: 70px;
        margin-left: 10px;
        transition: background linear 0.4s;
    }

    #ticketPage .modal-body a:nth-child(3) {
        background-color: #0071bc;
    }

    #ticketPage .modal-body a:hover {
        background: #418acf;
    }

    #ticketPage .modal-body a:nth-child(3):hover {background-color: #005693;}

    #alert {
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #F66358;
        color: white;
        position: absolute; bottom: 0; width: 100%;
    }

    #ticketPage #alert {
        display: none;
        padding: 20px;
        margin-top: 10px;
        text-align: right;
        position: static;
        width: 35%;
    }

    #verifyBox {
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #6ABC6E;
        color: white;
        position: absolute; bottom: 0; width: 100%;
    }

    #verifyBox a {color: white !important;text-decoration: underline}

    #loginBody {background: #eeeeee;}

    #login {
        width: 550px;
        height: 550px;
        background: white;
        direction: rtl;
        margin: 0 auto;
        position: relative;
        top: 100px;
        border: 1px solid #7a7a7a;
    }

    #login #logo {
        margin: auto;
    }

    #login h4 {
        margin: 30px 20px 0 0;
    }

    #login form {margin: 40px 20px 0 0;}

    #login label {
        display: inline-block;
        width: 80px;
        margin-bottom: 30px;
    }

    #login input {
        border-radius: 5px;
        border: 1px solid #7a7a7a;
        width: 70%;
        height: 36px;
        padding-right: 10px;
    }

    #login input:focus {
        outline: none;
        border: 1px solid #418acf;
    }

    #login input[type=checkbox] {
        margin-right: 80px;
        height: 20px;
        width: 5%;
        padding: 0;
        vertical-align: top;
    }
    #login label[for=rememberMe] {
        position: relative;
        vertical-align: top;
    }

    #login input[type=submit] {
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 20px;
        background-color: #0071bc;
        width: 173px;
        height: 67px;
        margin-right: 19%;
        transition: background linear 0.4s;
        cursor: pointer;
    }
    #login input[type=submit]:hover {
        background: #005693;
    }

    .hr {border-bottom: 3px dotted #7a7a7a; width: 95%; margin: 30px auto;}

    #login form+a {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    #login form~p {
        margin: -20px 20px 0 0;
    }

    #login #alert {
        margin: 0;
    }

    #login a:hover {text-decoration: underline}
    #login a:visited {color: blue}

    #registerSubmit {margin-right: 293px !important;}

    #loader {
        display: block;
        border: 16px solid #f3f3f3;
        border-top: 16px solid #0071bc;
        border-bottom: 16px solid #f18021;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        z-index: 100;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/*##########################################################*/
/*##########################################################*/
/*#######################Mobile Design######################*/
/*##########################################################*/
/*##########################################################*/
@media(max-width: 740px) {
    body, html { overflow-x:hidden;}
    body {color: white;}
    /*a {color: white;}*/

    #homePage h1, #homePage h3, #homePage section, #homePage p,
    label[for="category"], #userPanelSettings, label[for=searchText],
    #searchForm input[type=submit], #breadCrumbs {
        display: none;
    }

    header {
        height: 180px;
        background: #eeeeee;
    }

    #logo {
        margin: auto;
        top: 10px;
    }

    #searchForm input[type=search] {
        width: 100%;
        height: 30px;
        /*display: inline-block;*/
        float: right;
        direction: rtl;
        border: none;
        border-radius: 0;

        padding-right: 8%;
        font-size: 14px;
        background: url(../images/mobile/magnifier.png) no-repeat 98% center white;
    }

    #category {
        border-bottom: 1px solid #C7C7C7;
        border-top: none;   border-right: none;   border-left: none;
        direction: rtl;
        width: 100%;
        height: 30px;
        padding-right: 3%;
        float: right;
        margin-top: 27px;
        -webkit-appearance: none;
        background: white;
    }


    #searchForm input[type=search]:focus, #category {
        outline: 0;
    }

    #mainMenu {
        list-style-type: none;
    }

    #mainMenu > li {
        background: #444444;
        /*height: 50px;*/
        text-align: center;
        line-height: 50px;
        direction: rtl;
    }

    #mainMenu > li > a, #allTicketsList > li > a {
        width: 100%;
        display: block;
        color: white;
    }


    #allTicketsList {
        background: #606060;
        position: relative;

        display: none;
        width: 100%;
    }

    #allTicketsList li {
        border: 1px solid #606060;
        text-align: center;
    }

    #userPanel {
        z-index: 10;
        position: fixed;
        bottom: 0;
        font-size: 0;
        background: black;
        width: 100%;
        direction: rtl;
    }

    #userPanel > li {
        display: inline-block;
        height: 50px;
        width: 20%;
        text-align: center;
    }
    #userPanel > li > a {
        display: inline-block;
        padding-top: 15px;
        width: 32px;
        height: 32px;
        margin: auto;
        opacity: 0.4;
    }

    #userPanel > li:last-child > a {      /*Settings Icon*/
        background: url(../images/mobile/settings.png) no-repeat center;
    }

    #userPanel > li:nth-child(4) > a {      /*Messages Icon*/
        background: url(../images/mobile/envelope.png) no-repeat center;
    }

    #userPanel > li:nth-child(3) > a {      /*Tickets Icon*/
        background: url(../images/mobile/ticket.png) no-repeat center;
    }

    #userPanel > li:nth-child(2) > a {      /*Cart Icon*/
        background: url(../images/mobile/cart.png) no-repeat center;
    }

    #userPanel > li:first-child > a {       /*User Icon*/
        background: url(../images/mobile/user.png) no-repeat center;
    }


    #userPanel > li > a.selected {
        opacity: 1;
    }

    footer {
        height: 120px;
        background: #444444;
    }

    footer ul {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    footer ul li {
        margin: auto;
        font-size: 10px;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }

    footer ul li a {
        color: #cccccc;
    }

    footer p {
        font-size: 10px;
        margin: 10px auto;
        text-align: center;
    }

    h1 {
        color: black;
        margin-top: 10px;
        text-align: center;
    }

    /*Main Page Design - Mobile*/
    #orangeButtonContainer {
        display: block !important;
    }

    .orangeHalfPage, .blueHalfPage {
        background: #f18021;
        height: 100px;
        padding-top: 50px;
    }

    .orangeHalfPage > a, #orangeButtonContainer > a {
        color: white;
        display: block;
        text-align: center;
        line-height: 49px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        font-size: 20px;
        background-color: #0071bc;
        width: 150px;
        height: 49px;
        margin: auto;
    }

    .blueHalfPage {
        background-color: #0071bc;
    }

    #orangeButtonContainer > a {
        background: #f18021;
    }

    /*My Tickets Design - Mobile*/
    #myTickets {
        direction: rtl;
        color: black;
    }

    #myTickets a {
        color: white;
    }


    #myTickets h3 {
        margin-top: 15px;
        text-align: center;
    }

    #myTickets #postedTickets, #myTickets #boughtTickets{
        width: 100%;
        border-collapse: collapse;
        color: #444444;
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 30px;
        background: #d4e3fc;
    }

    #myTickets #postedTickets {
        background: #ffecd7;
    }

    #myTickets tr {
        height: 50px;
        border-bottom: 1px solid #d6d6d6;
    }

    #myTickets tr:nth-child(even) {
        background-color: white;
    }

    #myTickets td {
        width: 120px;
    }

    #myTickets td a {color: #444444}

    #myTickets th {
        border-top: 1px solid #d6d6d6;
        background-color: white;
        border-bottom: 3px solid #d6d6d6;
    }


    /*sell_ticket.php*/
    /*=======================================================*/

    /*###################################### UploadTicketForm Area ###############################################*/

    #uploadTicketForm {
        direction: rtl;
        color: black;
        margin-top: 5px;
        margin-right: 10px;
    }

    #uploadTicketForm label {
        font-size: 16px;
        display: block;
        margin-top: 15px;
    }

    #uploadTicketForm p input, #uploadTicketForm p select {
        font-size: medium;
        border: 1px solid #7a7a7a !important;
        border-radius: 5px;
        width: 90%;
        height: 36px;
        padding: 0 10px 0 0;
    }


    #ticketCities {
        width: 93% !important;
    }

    #uploadTicketForm p select {
        -webkit-appearance: none;
        width: 93%;
    }

    #uploadTicketForm > p:nth-child(2) > div {
        /*display: inline-block;*/
    }

    #uploadTicketForm > p > span {display: none;}

    #ticketNotes /*Textarea*/ {
        padding-right: 5px;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        width: 92%;
        height: 70px;
        font-family:"Arial", monospace;
        font-size: 14px;
    }

    #ticketBarcodeWrapper {
        position: relative;
        margin-top: 15px;
        margin-bottom: 13px;
    }

    #fileDiv {
        width: 93%;
        height: 36px;
        display: inline-block;
        position: relative;
        border-radius: 5px;
        border: 1px solid #7a7a7a;
        direction: ltr;
        cursor: pointer;
    }
    input[type=file] {
        width: 458px;
        height: 36px;
        opacity:0;
        cursor: pointer;
    }
    #val {
        width: 458px;
        height: 36px;
        position: absolute;
        top: 10px;
        right: -170px;
        pointer-events: none;
    }
    #button {
        cursor: pointer;
        display: block;
        width: 25px;
        height:36px;
        background: url(../images/icons/upload_icon.png) no-repeat 5px center;
        position: absolute;
        top: 0;
    }

    #uploadTicketForm select:focus, #uploadTicketForm input:focus, #ticketNotes:focus {
        outline: none;
        border: 1px solid #418acf !important;
    }

    fieldset {
        border-radius: 5px;
        border: 1px solid #7a7a7a;
        width: 93%;
        margin-top: 15px;
    }

    fieldset > span {
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    legend {
        margin-right: 15px;
        padding-right: 7px;
        padding-left: 7px;
    }

    fieldset > section {
        margin-right: 10px;
    }

    /*FieldSet - parks_workshops - START */
    #parks, #oneTime, #shows {display:none;}

    #parks legend {margin-right: 5px; !important;}

    #parks {height: 360px;}

    #parks label:first-child {margin-top: -10px}

    #parks label{
        font-size: 12px;
        display: block;
        height: 60px;
    }

    #parks label span {
        width: 200px;
        position: relative;
        top: -15px;
    }

    #parks input[type=radio] {
        height: 40px;
        width: 20px;
        cursor: pointer;
    }


    #parks input[type=number], #parks input[type=text] {
        display: block;
        border-radius: 5px;
        padding-right: 10px;
        border: 1px solid #7a7a7a;
        position: relative;
        top: -10px;
        margin-right: 18px;
        height: 30px;
        width: 40%;
    }

    #parks input[type=number] {
        width: 35%;
    }


    #parks input[type=text], #hotels input[type=text], #shows input[type=text] {
        /*background: url(../images/icons/datepicker_icon.png) no-repeat 5px center white;*/
    }

    #parks input[type=text]:disabled {
        background-color: #ebebe4;
    }

    #parks input[type=number]:focus, #parks input[type=text]:focus {
        outline: none;
        border: 1px solid #418acf;
    }

    /*FieldSet - Parks - END*/

    /*FieldSet - Hotels - START*/

    #hotels label, #shows label {
        font-size: 14px;
        margin-right: 5px;
        margin-top: 10px;
        padding-bottom: 10px;
        width: 90px;
    }

    #hotels input, #shows input {
        width: 150px !important;
        height: 30px !important;
        margin-bottom: 10px;
    }

    #hotels input[type=number] {
        width: 15% !important;
        margin-bottom: 10px;
    }

    .none {
        display: none !important;
    }

    #submitPart {
        /*width: 461px;*/
    }

    #submitPart input[type=submit] {
        display: block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        -webkit-appearance: none;
        color: white;
        font-size: 20px;
        background-color: #f18021;
        width: 93%;
        height: 67px;
        margin-top: 20px;
        transition: background linear 0.4s;
        cursor: pointer;
    }

    #submitPart p {
        width: 95%;
        font-size: 12px;
        margin-top: 10px;
    }

    #submitPart > p span {
        margin-right: 3px;
        color: #bd362f;
    }

    #submitPart p:last-child {
        font-size: 11px;
        margin-bottom: 10px;
    }

    /*######################################################################*/
    /*LightBox of the UploadTicketForm - START*/
    /*######################################################################*/

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 100%;
        height: 230px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-100px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-100px; opacity:0}
        to {top:0; opacity:1}
    }

    #sellTickets .modal-header {
        /*padding: 2px 16px;*/
        background-color: white;
    }

    #sellTickets .modal-body {padding: 2px 16px;}

    #sellTickets #logo_lightbox {
        display: block;
        background: url(../images/logo_lightbox.png) no-repeat center;
        width: 153px;
        height: 80px;
        margin: 15px auto;
    }

    #sellTickets div.modal-body > h1 {font-size: 5vw; margin-top: -10px;}

    #sellTickets .modal-body p {
        display: none;
    }

    #sellTickets .modal-body a {
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 4vw;
        background-color: #f18021;
        width: 40%;
        height: 70px;
        margin-top: 10px;
        float: left;
    }

    #sellTickets .modal-body a:nth-child(4) {
        float: right;
    }

    /*==========================================*/

    /*select_category.php*/

    #buyTickets h1 {
        color: black;
    }

    #categories {
        width: 100%;
        padding-top: 20px;
        /*margin-bottom: 10px;*/
    }

    #categories > section {
        border: 1px solid #d6d6d6;
        border-left: 0;
        border-right: 0;
        width: 100%;
    }

    #categories a {
        display: block;
        height: 60px;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 18px;
        font-weight: bold;
        line-height: 60px;
        background-size: contain;
    }

    #categories > section:first-child a {
        background: url(../images/mobile/water_parks.png) no-repeat #f6f6f6;
        background-size: 100%;
    }

    #categories > section:nth-child(2) a {
        background: url(../images/mobile/shows.png) no-repeat #f6f6f6;
        background-size: 100%;
    }

    #categories > section:nth-child(3) a {
        background: url(../images/mobile/cinema.png) no-repeat #f6f6f6;
        background-size: 100%;
    }

    #categories > section:nth-child(4) a {
        background: url(../images/mobile/workshops.png) no-repeat #f6f6f6;
        background-size: 100%;
    }

    #categories > section:nth-child(5) a {
        background: url(../images/mobile/hotels.png) no-repeat #f6f6f6;
        background-size: 100%;
    }

    /*select_ticket.php*/
    #tableCategories {
        margin-top: 10px;
        border: 2px solid #d6d6d6;
        border-right: 0;
        border-left: 0;
        border-collapse: collapse;
        margin-bottom: 20px;
        background: #eeeeee;
        color: #444444;
        text-align: center;
        font-size: 14px;
        width: 100%;

        direction: rtl;
    }

    #selectTicket h4 {
        text-align: center;
        margin-top: 10px;
        color: black;
    }

    #tableCategories tr {
        height: 40px;
        border-bottom: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;
    }

    #tableCategories tr:nth-child(even) {
        background-color: white;
    }

    #tableCategories td {
        width: 120px;
    }

    #tableCategories th {
        background-color: white;
        border-bottom: 3px solid #d6d6d6;
    }

    #selectTicket #tableCategories th:last-child, #selectTicket #tableCategories th:first-child,
    #selectTicket #tableCategories td:last-child, #selectTicket #tableCategories td:first-child,
    #selectTicket #tableCategories .typeRow {
        display: none !important;
    }

    #tableCategories a {
        color: #444444;
    }

    /*=========================================================*/

    #ticketPage {
        direction: rtl;
        color: #444444;
    }

    #ticketPage > section {
        margin-top: 20px;
    }

    #ticketPage > section > p {
        margin-right: 10px;
        font-weight: bold;
        font-size: 4vw;
        width: 40%;
        display: inline-block;
    }

    #ticketPage > section > span, #ticketPage > section > a {
        font-size: 4vw;
        display: block;
        margin-right: 10px;
    }

    #singleTicketCategory {
        color: #444444;
        text-decoration: underline;
    }

    #ticketSimilar > p {
        width: 100% !important;
        position: relative;
        top: 10px;
    }


    #contactSaler {
        color: #bd362f !important;
        text-decoration: underline;
    }

    #ticketPage > .ticketPageParagraph {
        display: none;
    }

    #ticketPage #addToCart, #ticketPage #payNow {
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 4vw;
        background: url(../images/icons/down_arrow.png) no-repeat 15% #0071bc;
        background-size: 5vw;
        width: 49%;
        height: 65px;
        margin: 10px 0 10px 0;
    }

    #ticketPage table {
        width: 100% !important;
    }

    #ticketPage #addToCart {
        background: url(../images/icons/add_cart.png) no-repeat 10% #75a9f9;
        background-size: 5vw;
    }



    /* Modal Content */
    #ticketPage .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 100%;
        height: 270px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    #ticketPage .modal-header {
        padding: 2px 16px;
        background-color: white;
    }

    #ticketPage .modal-body {padding: 2px 16px;}

    #ticketPage .modal-header h1 {
        font-size: 5vw;
        padding-top: 70px;
        text-align: center;
        height: 50px;
        background: url(../images/icons/check-box.png) no-repeat 50% 0;
    }


    #ticketPage .modal-body p {
        display: none;
    }

    #ticketPage .modal-body a {
        vertical-align: top;
        display: inline-block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        color: white;
        font-size: 3.9vw;
        background-color: #75a9f9;
        width: 32%;
        height: 70px;
    }

    #ticketPage .modal-body a:nth-child(3) {
        background-color: #0071bc;
    }

    #ticketPage #alert {
        display: none;
        padding: 20px;
        width: 100%;
        background-color: #F66358;
        color: white;
    }

    /*=========================================================*/

    /*login.html*/
    #loginBody {background: #eeeeee; color: black;}

    #login {
        width: 100%;
        height: 100%;
        background: #eeeeee;
        direction: rtl;
        margin: 0 auto;
    }

    #login h4 {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    #login form {
        margin: auto;
    }

    #login label {
        display: block;
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
    }

    #login input {
        /*border-radius: 5px;*/
        font-size: medium;
        margin-right: 10px;
        display: block;
        border: 1px solid #7a7a7a;
        width: 90%;
        height: 36px;
        padding-right: 10px;
    }

    #login input:focus {
        outline: none;
        border: 1px solid #418acf;
    }

    #login input[type=checkbox] {
        display: inline-block;
        margin-right: -0.5%;
        margin-top: 10px;
        height: 20px;
        width: 10%;
    }

    #login label[for=rememberMe] {
        display: inline !important;
        position: relative;
        top: -4px;
        -webkit-appearance: none;
        right: -1%;
    }

    #login input[type=submit] {
        display: block;
        border: none;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.22);
        -webkit-appearance: none;
        color: white;
        font-size: 20px;
        background-color: #0071bc;
        width: 93%;
        height: 67px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hr {display: none}

    #login form+a {
        margin: 0 10px 5px 0;
    }

    #login form~p {
        margin: 10px 10px 0 0;
    }

    #login a:visited {color: blue}

    #login #alert, #registerForm #alert {
        display: none;
        padding: 10px;
        width: 100%;
        background-color: #F66358;
        color: white;
        position: fixed;
        bottom: 0;
    }

    #verifyBox {
        display: none;
        padding: 10px;
        width: 100%;
        background-color: #6ABC6E;
        color: white;
        position: fixed;
        bottom: 0;
        margin-top: 10px;
    }

    #verifyBox a {color: white !important; text-decoration: underline}

    #loader {
        /*display: none;*/
        border: 16px solid #f3f3f3;
        border-top: 16px solid #0071bc;
        border-bottom: 16px solid #f18021;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /*position: absolute;*/
        position: fixed;
        z-index: 100;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.no {
    color: red;

}

.no::after {
    content: '\2718';
}

.yes {
    color: #008000;
}

.yes::after {
    content: '\2714 \fe0e';
}

.bool {
    font-size: 20px; direction: ltr;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loaderContent {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}